.FriendItem {
  margin: 10px 0px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 10px 0px;
  box-shadow: 1px 2px 3px #d1d1d1;
}
.FriendItem:last-child {
  /* DODATO ZBOG NE VIDLJIVOSTI POSLEDNJEG */
  margin-bottom: 70px;
}
.FriendItem:hover {
  box-shadow: 2px 5px 3px #d1d1d1;
  cursor: pointer;
}
.FriendItem > img {
  height: 65px;
  width: 65px;
  border-radius: 100%;
  box-shadow: 0px 0px 2px #000;
}
.FriendItem > div > p {
  margin: 8px 0px;
}
.FriendItem > div {
  width: 65%;
}
.FriendItem > div > .friendName {
  font-weight: 800;
  text-align: left;
  /* margin-top: 25px; */
}
.FriendItem > div > .onlineStatus {
  font-weight: 100;
  color: #9880d9;
  text-align: left;
  /* margin-top: 15px;   */
}
