body {
  margin: 0;
  font-family: "Lexend Deca", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  /* font-family: "Lexend Deca", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  /* margin: 0px auto; */
  margin-top: 40px;
}
#floating-chat {
  position: fixed;
  left: 15px;
  bottom: 0;
  width: 69%;
  height: 250px;
  /* background-color: aquamarine; */
}
